<meta name="google" content="notranslate" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Phoenix Ascended DKP Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/items/">Items</a></li>
      <li class="active"><a href="/awards/">Awards</a></li>
      <li><a href="/attendance/">Attendance</a></li>
      <li><a href="/rules/">Rules</a></li>
    </ul>
  </div>
</nav>

<table id="awards" class="table table-sm table-striped">
  <thead>
  <tr>
    <th>Date</th>
    <th>Reason</th>
    <th>Attendance Counted?</th>
    <th>Value</th>
    <th>Notes</th>
  </tr>
  </thead>

  <tbody>
  {% for record in records %}
  <tr>
    <td>{{record.time }}</td>
    <td>{{record.award_type}}</td>
    <td>{{record.attendance_value | yesno:"Yes,No"}}</td>
    <td>{{record.value}}</td>
    <td>{{record.notes}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
