<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<p><h1>{{ name }} </h1></p>
<p><h2>{{ character_class }} ({{rank}})</h2></p>
<p>Current DKP: {{ current_dkp }}</p>
<p>Attendance (30 days): {{ attendance_30 }}%</p>

<p>Recent DKP awards:<br>
    <ul style="list-style-type:none;">
    {% for award in awards_14 %}
    {% if not award.present %} <div class="text-danger">{% endif %}
        <li>
            {{award.award}} {% if not award.present %} (not present) {% endif %}
        </li>
    {% if not award.present %}</div> {% endif %}
    {% endfor %}
    </ul>
</p>
<p>Recent purchases:<br>
    <ul style="list-style-type:none;">
    {% for purchase in purchases_30 %}
        <li>{{purchase}}</li>
    {% endfor %}
    </ul>
</p>

