<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link id="dark-theme-style" rel="stylesheet" />

<body>
  {% include "padkp_show/header.html" %}
  <div class="container-fluid">
    <p>
    <h1>{{ name }} </h1>
    </p>
    <p>
    <h2>{{ character_class }} ({{ rank }})</h2>
    </p>
    <p>Registered Alts: {{ alt_string }} </p>
    <p>Current DKP: {{ current_dkp }}</p>
    <p>Alt DKP: {{ alt_dkp }}</p>
    <p>Attendance (30 days): {{ attendance_30 }}%</p>
    <p>Days Since Last Raid: {{ days_since_raid }}</p>

    <p>Recent DKP awards:<br>
    <ul style="list-style-type:none;">
      {% for award in awards_14 %}
      {% if not award.present %} <div class="text-danger">{% endif %}
        <li>
          {{award.award}} {% if not award.present %} (not present) {% endif %}
        </li>
        {% if not award.present %}
      </div> {% endif %}
      {% endfor %}
    </ul>
    </p>
    <p>Recent purchases:<br>
    <ul style="list-style-type:none;">
      {% for purchase in purchases_30 %}
      <li>{{purchase}}</li>
      {% endfor %}
    </ul>
    </p>
  </div>
</body>