<meta name="google" content="notranslate" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link id="dark-theme-style" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.widgets.js"></script>
<script>
$(function(){
    $('#current_dkp').tablesorter({
    });
});
</script>
<body>
  {% include "padkp_show/header.html" %}
  <div class="container-fluid">
    <table id="current_dkp" class="table table-sm table-striped tablesorter">
    <thead>
      <tr>
        <th>Class</th>
        <th>Count (15 days)</th>
        <th>Count (30 days)</th>
      </tr>
    </thead> 
    <tbody>
    {% for record in records %}
    <tr>
      <td>{{record.character_class}}</td>
      <td>{{record.counts_15}}</td>
      <td>{{record.counts_30}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Total</td>
      <td>{{totals.total_15}}</td>
      <td>{{totals.total_30}}</td>
    </tr>

    </tbody>
    </table>
  </div>
</body