<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"> Phoenix Ascended DKP Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/items/">Items</a></li>
      <li><a href="/awards/">Awards</a></li>
      <li><a href="/attendance/">Attendance</a></li>
      <li class="active"><a href="/rules/">Rules</a></li>
    </ul>
  </div>
</nav>

<ol type="I">
    <li><strong>Earning DKP</strong>
    <ol>
	<li><strong>Who earns DKP?</strong> All characters that meet raid requirements may earn DKP in exchange for time spent raiding with PA.  Alts and Boxes will earn their own separate DKP from their main.</li>
	<li>All raiders must receive approval from the Raid Leader to bring an Alt or Box onto a PA raid.</li>
	<li>All raiders are responsible for checking and knowing their own DKP.  Overspending in most circumstances will be met with a warning, but additional penalties may be implemented at the discretion of the loot team and/or officers. 
	<ol>
	    <li>New raiders are exempt from this clause, as they have no DKP on their first raid. Negative bids are allowed in this case.</li>
	</ol>
	</li>
	<li>DKP may only be earned on Official Raid Nights</li>
	<li>Official Raid Nights are Sunday, Wednesday, Thursday, as well as every other Monday.  Raid times start on Sunday at 6pm eastern- 11:30pm EST, Wednesday and Thursday hours are 8:30 - 11:30 EST, and every other Monday from 8:30-11:30.  </li>
	<li><strong>DKP is earned at the following rates:</strong>
		<ol type="A">
			<li>1 DKP for 30 minutes at raid. </li>
			<li>1 DKP at the beginning of the raid night</li>
			<li>1 DKP at the end of the raid night</li>
			<li>Additional DKP bonuses may be planned or provided at the discretion of the raid leader or loot team. This specialized bonus may be earned outside of Official Raid Nights.</li>
		</ol>
	</li>

            <li><strong>Early Bird/Insomniac Bonuses</strong> – At raid leader’s discretion, specific raids may invoke DKP earnings before or after official raid times. Any time earned during these periods does not count towards raid attendance.</li>
            <li><strong>Expansion bonus</strong> – Some expansions are long and painful. Raiders who maintain 50% or higher 30-day raid attendance during the final month of an 84-day Expansion Cycle will receive a DKP bonus applied after any expansion DKP decays. The total DKP earned through this bonus is determined by the Guild Leader.</li>
            <li><strong>Waitlists</strong> – From time to time, the raid may become full, at which point the acting loot officer will maintain a channel of individuals waiting to get in. A roll call will be made regularly verify waitlist status. Waitlisted individuals may earn DKP but are ineligible for loot.</li>
            <li><strong>Expansion DKP Decay</strong> - At the discretion of the Officer team, a DKP decay may be performed at the end of an expansion cycle. In the event of a DKP decay, the announcement will be made no later than three (3) weeks prior to the next expansion release.
		    <ol type="A">
			    <li>The Planes of Power DKP Decay will be 50%, and will be implemented on Wednesday, Feb 12, 2020</li>
			    <li>The Gates of Discord DKP Decay is expected to be 80%, and would be implemented on Wednesday, July 29, 2020.</li>
		    </ol>
	    </li>
    </ol>
<li><strong>Loot</strong>
<ol>
<li><strong>Vendor loot, expendable items, and tradeskill supplies</strong> - Will be either randomed through loot window or sent to guild bank at the discretion of the acting master looter.</li>
<li><strong>Equipment</strong> – Equippable items that drop during raids from raid targets are issued via DKP.</li>
<li><strong>Spells</strong>- Spells and Spell Runes will be issued to classes as needed. </li>
<ol>
<li><strong>Tradeable Spells:</strong> will be given to key classes by raid attendance or issued to the guild bank as needed. </li>
<li><strong>No-Trade Spell scrolls (e.g. Ancients)</strong>: issued by raid attendance or class-specific gauntlet</li>
<li><strong>Spell Runes (e.g. Glyphed Rune Words):</strong> will be issued to key classes as necessary, then expanded as key spells are obtained. Class Leaders will have the option to seek priority on specific spells in each expansion. </li>

<li><strong>Key drops/Flags</strong> - Will be issued based on the needs of the raid.</li>
<li><strong>Quest items</strong> – The first raid drop for Non-Epic quest pieces will be issued via DKP. Subsequent raid drops for the quest will be granted to the individual who obtained the Quest item first.</li>
<li>If a multi-part quest item is won, and the quest cannot be reasonably completed within 2 expansion cycles, 50% of the DKP spent will be refunded at the winner’s request.</li>
<li><strong>Epics</strong> -Epic drops will go to those furthest along in progression, at no cost of DKP.</li>
<li>If two individuals are equivalent in progress, the quest drop will be provided to the individual with the highest 30-day raid attendance.</li>
<li>Recruit members are not eligible for tradeable Epic drops until they become full Members. No Trade Epic drops will be provided to Recruits if no present Member needs the item in question.</li>
<li><strong>Reserved Raid Loot</strong> - Certain Unique Items/Drops come from raid targets that offer the opportunity as a guild to aid with progression. These items provide utility or other services that can improve the entire raid force. These items will be defaulted for specific purposes, to specific individuals.</li>
</ol>
<p>Restricted Items List (Classic – Depths of Darkhollow)</p>
<ol>
<li>Shield of the Immaculate (PoHate): sold for guild bank purposes</li>
<li>Shield of Rainbow Hues (Cazic, Plane of Fear): Warrior, monk </li>
<li>Blade of Carnage (Avatar of War, Kael Drakkal): Warrior, 75 DKP, awarded by 60-day raid attendance. Once all main Warriors have a BoC, one will be claimed for the guild bank. Subsequent Blade of Carnage shall be issued via DKP bid open to all raiders present.</li>
<li>Bow of the Destroyer (Dagarn the Destroyer, NToV): Rangers only, minimum bid 25. Bids open to other classes if bids below 25.</li>
<li>Hammer of the Ironfrost (XTC, Ssraeshza): Bids open to 190+ Smiths first.</li>
<li>Akhevan Shadow Shears (Shei Vinitras, Akheva Ruins): Bids open to 190+ Tailors first.</li>
<li>Robe of Tinkering (Shei Vinitras, Akheva Ruins) Bids open to 150+ Tinkers first.</li>
<li>Sanguine Robe (Va Xi Aten Ha Ra, Vex Thal) Bids open to 170+ Spell Researchers first.</li>
<li>Orb of the Sky (Diabo Xi Xin, Vex Thal): Warrior only bids</li>
<li>Chaos Runes (Gates of Discord): Berserker priority for Ancient: Cry of Chaos</li>
<li>Invocation of Night (Tris Wallow III, Demiplane of Blood) Necromancer bids only. Reward is Necro BIS for the remainder of the server.</li>
<li><strong>Rule of Expedience</strong>: At the Loot Team and Raid Leader’s discretion, certain drops in raids may be awarded through the loot window for the sake of expedience. Such items may include common items such as Ethereal Parchments or lower-tier equipment.</li>
</ol>
</ol>
</li>

<li><strong>Spending DKP</strong>
	<ol>
	<li>DKP bidding is a Silent Maximum Bid. You submit a bid for what the item is worth to you, bid goes to the highest bid for the amount submitted.</li>
	<li>Bidding Process</li>
	<ol type="a">
	<li>
	<p>Loot officer opens bids for specific item.</p>
	<p style="color:blue">Example: (Soandso tells the raid, ‘!Bids open Cloak of Flames’)</p>
	</li>
	<li>
	<p>Interested parties send tells to loot officer with itemlink and amount of dkp.</p>
	<p style="color:blue">Example: ( /tell Soandso Cloak of Flames 50 )</p>
	</li>
	<li>
	<p>Loot officer announces bid is closed</p>
	<p style="color:blue">Example: (Soandso tells the raid, ‘!Bids closed Cloak of Flames’)</p>
	</li>
	<li>
	<p>Once bids close, officer announces the winner, sends item to winner.</p>
	<p style="color:blue">Example: (Soandso tells the raid, ‘Grats Steve on Cloak of Flames for 50 DKP’)</p>
	</li>
	</ol>

	<li>New raiders may bid 1 DKP on equipment, even if they currently have no DKP to spend.</li>
	<li><strong>Tiebreakers</strong> – In the event that two or more high bids on an item are equal, the loot is awarded to the individual with the highest current DKP. If current DKP is equal, the item will be awarded to the highest 30-day attendance raider.</li>
	<li>Items that receive no bids will be Guild Banked, loot rights sold, or Destroyed.</li>
	</ol>
</li>
<p> </p>

<li><strong>Who can bid?</strong>
<ol>
	<li>Any main character may bid on and win an item if:
		<ol type="a">
			<li> The character is present on the raid.</li>
			<li>The character can equip the item.</li>
			<li>The character has not won the item previously (exceptions to non-lore bracers, earrings, rings).</li>
		</ol>
	</li>
    <li>Recruits, Inactive Returning Players, Approved Alts and Boxes may bid and win on items if:
	    <ol type="a">
		<li>The character is present on the raid -OR- are immediately outside the AoC (if alt/box).</li>
		<li>The character can equip the item.</li>
		<li>The character has not won the item previously (exceptions to non-lore bracers, earrings, rings)</li>
		<li>You inform the loot officer that the bid is for a recruit, returning inactive player, alt/box. example: (/tell Soandso Cloak of Flames 10 box)</li>
		<li>The highest Main bid does not exceed 10 dkp. </li>
	    </ol>
	</li>
</ol>
</li>

    <li><strong>Misc.</strong></li>
    <ol>
        <li><strong>Main Changes </strong>- A player may Main Change to a new class at the approval of their current class leader, their new class leader and 1 officer.
        <ol type="a">
            <li><strong>Immediate Main Change</strong>: An approved raider may main change immediately and be at the cost of their current DKP total. </li>
            <li><strong>Delayed Main Change</strong>: An approved raider may main change with a delay of 2 weeks. During that time, the raider is considered to be a Recruit for bidding purposes and may not bid over 10 dkp. After two weeks, the raider’s DKP is transferred to the new character.</li>
            <li>No Backsies: A main change is something that is considered to be a large undertaking. The decision is not to be taken lightly. As such, main changes will be restricted from returning to their old class as a raider for 45 days, barring guild leadership intervention.</li>
	</ol>
</li>
            <li><strong>Berserkers: </strong>Approved Berserker main changes finalized prior to 3 weeks before the Gates of Discord expansion releases are exempt from the Recruit status clause, as they have already fulfilled the three- week obligation as part of the approval process.</li>
            <li><strong>Recruit Status</strong> - Recruits are new members to PA. They retain the Recruit status for 2 weeks.  During this time, they may earn DKP and win loot, but cannot win over an active main who has bid over 10 dkp. </li>
            <li><strong>Inactive Status </strong>– Inactive raiders are players who fail to raid within 30 days without prior notice. Inactive raiders retain this status for 2 weeks. During this time, they may earn DKP and win loot, but cannot win over an active main who has bid over 10 DKP. Inactive raiders maintain tiebreaker priority over recruits.
            <ol type="a">
                <li><strong>If an inactive member’s class has been designated as ‘full’ by the class leader or officer team, the inactive member will be designated as ‘Friends & Family’ until such time that the class reopens.</strong></li>
                <li><strong>Inactive members who remain away for more than 45 days will have their DKP total lowered to 50. Any totals below 50 will be unaffected.</strong></li>
	    </ol>
	    </li>
                <li><strong>Penalties – </strong>During the course of an expansion, it may be necessary to invoke DKP penalties on individuals for action or inaction that negatively affect or repeatedly hinder the raid. The Raid Leader or Guild Leader, with the approval of the Raid Accountability Officer or a Senior Loot Team member, may penalize DKP for such actions.</li>
            </ol>

            <li><strong>Rules Errata/Addendum</strong></li>
            <ol>
                <li>The PA Loot Rules are intended to be a guideline for raiders and leadership to follow. Like any living document, adjustments may be necessary over time. Major clause changes will be limited to expansion release windows and will be announced publicly. Any Major clause changes mid-cycle will be announced in Discord and would require both Guild Leader and Senior Loot Team approval. </li>
    </li>
</ol>
